@font-face {
    font-family: "TiemposHeadline-Medium";
    src: url(../fonts/TiemposHeadline-Medium.eot);
    src: url(../fonts/TiemposHeadline-Medium.eot?#iefix) format("embedded-opentype"), url(../fonts/TiemposHeadline-Medium.woff) format("woff"), url(../fonts/TiemposHeadline-Medium.ttf) format("truetype");
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');